<p>
  <strong>Test title:</strong>
  <%= @question.test.title %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.body %>
</p>

<p>
  <table>
    <tr><th><strong>Answers:</strong></th></tr>
    <% @question.answers.each do |answer| %>
      <tr><td><%= answer.body %></td></td>
    <% end %>
  </table>
</p>

<%= link_to 'Back to Test', @question.test %>
