<p><%= current_year %> |
Shayderov Sergey |
<%= link_to 'TestGuru', github_url('SergeGray', 'TestGuru') %></p>
<p>Simple quiz application, training project for online-school
<%= link_to 'Thinknetica', 'http://thinknetica.com/' %>
